@import url(https://fonts.googleapis.com/css?family=Fjalla+One:400|Roboto:400,400italic,700);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web", sans-serif;
  font-size: large;
  background-size: cover;
  display: flex;
  background-position: center center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #76b5c5;
}
.btn {
  background: transparent;
  width: 40px;
  height: 22px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease;
  box-shadow: none;
  right: 15px;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0;
}
.btn-modal {
  width: 55px;
  height: 25px;
  color: black;
  border: 1px solid black;
  margin-left: 20px;
}
.btn-modal:hover {
  background: #457b9d;
  color: #ffff;
}
.btn-edit {
  color: #457b9d;
  border: 1px solid #457b9d;
  margin: 0;
}
.btn-edit:hover {
  background: #457b9d;
  color: #ffff;
  border: 1px solid #457b9d;
}
.btn-delete {
  color: red;
  border: 1px solid red;
  margin: 0;
}
.btn-delete:hover {
  background: red;
  color: #ffff;
}
header {
  width: 100%;
  background: grey;
  padding: 1rem;
  border-radius: 10px 10px 0px 0px;
}
table {
  width: 90%;
  margin: 0.5rem auto;
  border-collapse: collapse;
}
table td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.3rem;
}
table th {
  padding: 1rem auto;
  text-align: right;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 50px;
  display: none;
  background: #00000067;
}
.form {
  padding-top: 10px;
}
.modal {
  position: relative;
  background: white;
  text-align: center;
  width: 312px;
  margin: 0.8rem auto;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -9px rgba(0, 0, 0, 0.75);
  border-radius: 10px 10px 10px 10px;
}
.edit-modal {
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding: 20rem;
}
@keyframes animatetop {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.modal-show {
  display: block;
}
.modal-header {
  width: 100%;
  background: #CFD2CF;
  padding: 0.5rem;
  border-radius: 10px 10px 0px 0px;
  text-align: right;
}
input {
  width: 12rem;
  height: 2.2rem;
  outline: none;
  text-indent: 0.5rem;
  font-size: large;
}
.count {
  color: #457b9d;
  font-weight: bold;
  font-size: 24px;
}
p {
  display: inline-block;
  margin-right: 70px;
}
i {
  cursor: pointer;
}
h4 {
  display: inline-block;
  margin-left: 100px;
  text-align: center;
}
h3 {
  text-align: center;
}

